header{
  height: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav button{
  margin-left: 20px;
}
.logo{
  color: snow;
  font-size: 30px;
}
